target
.idea
*.log
*.jar
.settings
.project
.classpath
*.class
bin
*.orig
*.bak
*.old
*.ear
*.LOCAL
*.REMOTE
.metadata
*~
build.out
build.err
rebel.xml
rebel-remote.xml
*.iml
*.ipr
*.iws
*.db
deploy2Remote.bat

